<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Martinu's / BackOffice</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="events" class="nav-link">Évènements</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-event" class="nav-link">Ajouter un évènement</a>
      </li>
      <li class="nav-item">
        <a routerLink="items" class="nav-link">Articles</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-item" class="nav-link">Ajouter un article</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
